body{
    background-color: #FAEAB1;
    font-family: 'Playfair Display', serif;
    height: 100%;
    width: 100%;
}
.tittle{
    font-size: 2.8em;
    font-weight: bold;
    color: #231544;
} 
.tittle2{
    font-size: 1.2em;
    font-weight: bold;
    color: #231544;
}
h6{
    font-weight: bold;
}
.our-menu{
    background-color: #231544;
}
.picture{
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
}
.picture1{
    height:100%;
    width: 80%;
}
.picture2{
    height: fit-content;
    width: fit-content;
}
.box{
    background-color: rgb(107, 142, 35);   
}
/* .box1{
    height: 15em;
} */
/* .box2{
    height: min-content;
} */
/* .box3{
    height: 15em;
    width: 20em;
} */
/* footer */
footer{
    background-color: #231544;
}
.icon{
    color: white;
    text-decoration: none;
}





