body{
    background-color: #FAEAB1;
    font-family: 'Playfair Display', serif;
    height: 100%;
    width: 100%;
    /* font-size: calc(15px + 0.390625); */
}

/* main Pag.index*/
.tittle{
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
    color: #231544;
} 
/* button */
.our-menu{
    background-color: #231544;
} 
/*Pag. index video */
video{ 
    filter:drop-shadow(0 20px 20px rgba(0,0,0,1));
}
/*Picture´s style */
.img-half{
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
    height:80%;
    width: 80%;
} 
.eggs{
    border-radius: 5%;
}
.caja1{
    z-index: -1;
}
/*Pag. index green part */
.image-greenpart{
    height: 20vh;
    background-size:40%;
    background-position: center;
    background-repeat: no-repeat;
}
.community{
    background-image: url(../assets/community.png);
}
.sustainability{
    background-image: url(../assets/sustainability.png);
}
.integrity{
    background-image: url(../assets/integrity.png);
}
.box{
    background-color: rgb(107, 142, 35);  
}
/* footer  */
footer{
    background:linear-gradient( #FAEAB1,#231544) 80%;
    background-color: #231544;
}
/* PAG. MENU */
h1{
    color: #180e2d;
    font-weight: bold;
}
h6{
    font-weight: bold;
}

/* Pag.menu style cards */
.card{
    border: none;
    background-color: #FAEAB1;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
} 

/* .tittle2{
    font-size: 1.2em;
    font-weight: bold;
    color: #231544;
}  */
/* h4{
    font-weight: bold;
} */
/* .picture{
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
} */
/* .picture1{
    height:100%;
    width: 80%;
}  */
/* .picture2{
    height: fit-content;
    width: fit-content;
} */


/* footer */
/* footer{
    background:linear-gradient( #FAEAB1,#231544)
    background-color: #231544;
}
.icon{
    color: white;
    text-decoration: none;
}





