/* Pag.menu */
hr{
    border: 1px solid #322256;
    width: 3em;
    opacity: 1;
}
.card{
    border: none;
    background-color: #FAEAB1;
}
.card-body{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
}
