body{
    background-color: #FAEAB1;
    margin: 0;
    padding: 0;
}
.box1{
    background-color: rgb(107, 142, 35);
}
.box2{
    background-color: #342162;
}

input{
    border: none;
    background-color: #342162;
    border-bottom: 5px white;
}